name: CI
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.0.2

      - name: Run echos
        run: |
          echo ${GITHUB_REF_NAME}
          echo ${GITHUB_ACTOR}
          echo ${GITHUB_EVENT_NAME}
          echo ${GITHUB_JOB}
          echo ${GITHUB_REF}
          echo github.base_ref: ${{ github.base_ref }}
          echo github.head_ref: ${{ github.head_ref }}
          echo github.ref: ${{ github.ref }}
          echo github.ref_name: ${{ github.ref_name }}
          echo github.event.push.ref: ${{github.event.push.ref}}
          echo github.event.push.pusher: ${{github.event.push.pusher}}
          echo github.event.push.commits: ${{github.event.push.commits}}
          echo $GITHUB_CONTEXT
          echo ${{github_context}}
         
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
