name: CI
on:  
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.0.2

      - name: Run echos
        run: |
          echo ${{github.event.pull_request.title}}
          echo ${{github.base_ref}}
          echo ${{github.event.push}}
          echo ${{github.event.push.title}}
          echo ${{github.event.pull_request}}
          echo ${{github.event.pull_request_review}}
          echo ${GITHUB_REF_NAME}
          echo ${GITHUB_ACTOR}
          echo ${GITHUB_EVENT_NAME}
          echo ${GITHUB_HEAD_REF}
          echo ${GITHUB_JOB}
          echo ${GITHUB_REF}
          


      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
