name: CI
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.0.2

      - run: echo ${GITHUB_REF_NAME}
      - run: echo ${GITHUB_ACTOR}
      - run: echo ${GITHUB_EVENT_NAME}
      - run: echo ${GITHUB_JOB}
      - run: echo ${GITHUB_REF}
      - run: echo ${{ github.base_ref }}
      - run: echo ${{ github.head_ref }}
      - run: echo ${{ github.ref }}
      - run: echo ${{ github.ref_name }}
      - run: echo ${{github.event.push.ref}}
      - run: echo ${{github.event.push.pusher}}
      - run: echo nuevas pruebas ------------------
      - run: echo ${{github.event.commits[0]['author']['name']}}
      - run: echo ${{github.event.commits[0]}}
      # - run: echo ${{github.event.commits[0]['message']}}
      - run: echo ${{toJSON(github.event.commits[0]['message'])}}
      - run: echo '${{toJSON(github.event.commits[0])}}'
      - run: echo $GITHUB_CONTEXT
      - run: echo $github_context
      - run: echo '${{ toJSON(github) }}'
         
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
