name: Draft Release
on:
  workflow_dispatch:
  push:
    branches:
      - main
  
jobs:
  Create_Release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # works and was tested
      - name: Get Latest Tag Name
        uses: actions/github-script@v6
        id: get_latest_tag_name
        with:
          script: |
            const tags = await github.rest.repos.listTags({
              owner: context.repo.owner,
              repo: context.repo.repo,
              })
            if (tags.data.length > 0) {
              return tags.data[0].name
            } else {
              return ''
            }
      
      - name: print latest job result
        run: echo ${{ steps.get_latest_tag_name.outputs.result }}

      # works and was tested
      - name: Create first tag if none exists
        uses: actions/github-script@v6
        id: create_tag
        if: steps.get_latest_tag_name.outputs.result == ''
        with:
          script: |
            const tag = 'v0.0.1'
            await github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `refs/tags/${tag}`,
              sha: context.sha
            })
      
      - name: Set latest tag name
        uses: actions/github-script@v6
        id: latest_tag
        with:
          script: |
            const tag = ${{steps.get_latest_tag_name.outputs.result}}
            console.log(tag)
            return tag != '' ? tag : 'v0.0.1'
        
      - name: print last job output
        run: echo ${{steps.latest_tag.outputs.result}}

      - name: See if release exists
        uses: actions/github-script@v6
        id: release
        with:
          script: |
            const release = await github.repos.getReleaseByTag({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag: ${{ steps.get_latest_tag.outputs.tag }} != '' ? ${{ steps.get_latest_tag.outputs.tag }} : ${{ steps.create_tag.outputs.tag }} 
            })
            return release.data
      
      - name: Stablish new release tag
        uses: actions/github-script@v6
        id: tag
        with:
          script: |
            const actual_tag = ${{ steps.get_latest_tag.outputs.tag }} != '' ? ${{ steps.get_latest_tag.outputs.tag }} : ${{ steps.create_tag.outputs.tag }}
            if ${{ steps.release.outputs.result.draft }} {
              return actual_tag
            } else {
              const new_tag = actual_tag.split('.')
              new_tag[2] = (parseInt(new_tag[2]) + 1).toString()
              return new_tag.join('.')
            }
      
      - name: Get latest release not draft
        uses: actions/github-script@v6
        id: latest_release
        with:
          script: |
            const releases = await github.rest.repos.listReleases({
              owner: context.repo.owner,
              repo: context.repo.repo,
            })
            return releases.data.filter(release => !release.draft)[0]
      
      
      - name: Create release message based on latest commits
        uses: actions/github-script@v5
        id: message
        with:
          script: |
            const commits = await github.rest.repos. listCommits({
              owner: context.repo.owner,
              repo: context.repo.repo,
              since: ${{ steps.latest_release.outputs.result }} != null ? ${{ steps.latest_release.outputs.result.published_at }} : '2021-01-01T00:00:00Z'
            })
            const message = commits.data.map(commit => {return commit.commit.message}).join('\n')
            return message

      - name: Create Release
        uses: actions/create-release@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: ${{ steps.tag.outputs.result }}
          release_name: Release ${{ steps.tag.outputs.result }}
          draft: true
          message: ${{ steps.message.outputs.result }}
 


# name: 'GitHub Actions',
# email: '41898282+github-actions[bot]@users.noreply.github.com'
